@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
}

body {
  font: 600 12px/1 'Open Sans', sans-serif;
  color: #333;
  background: #333;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  min-height: 100%;
  background-color: #eee;
}

.sidebar {
  position: absolute;
  width: 220px;
  height: 100%;
  overflow-y: scroll;
  background-color: #fff;
}

.content {
  flex: 1;
  padding: 0px;
  background: #eee;
  transform: translate3d(0, 0, 0);
  transition: transform .3s;
}

.content.isOpen {
  transform: translate3d(220px, 0, 0);
}

.button {
  cursor: pointer;
  margin-left: 10px;
}

.button:before {
  content: '\f0c9';
  font: 42px fontawesome;
}

/* Demo Navigation */
.title {
  font-size: 16px;
  font-weight: normal;
  line-height: 50px;
  text-align: left;
  padding-left: 20px;
  text-transform: uppercase;
  letter-spacing: 7px;
  color: #eee;
  background: #007fff;
}

.nav li a {
  position: relative;
  display: block;
  font-size: 12px;
  color: #222;
  cursor: pointer;
  padding: 0.5em;
  margin-left: 0px;
}

.nav li a:hover {
  background: #eee;
}

.ui-accordion .ui-accordion-content {
    padding-left: 0.5em !important;
    border-top: 0;
    overflow: auto;
}

.patreon {
  color: #eee;
  background: #F96854;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  height: 36px;
}

.patreon a {
  color: #fff;
}

.token {
    width: 100px;
    height: 100px;
}

.sidebar {
    position: fixed;
}

#distance {
    display: none;
    position: relative;
    top: -10px;
    margin-left: 20px;
}

h1 {
  margin-top: 20px;
  font-size: 28px;
  font-weight: 400;
  text-align: center;
}

h2 {
  font-size: 12px;
  font-weight: 400;
  color: red;
  text-align: right;
  margin-right: 33px;
  margin-bottom: 20px;
  padding-top: 0px;
}

#screenshot{
	position:absolute;
	border:1px solid #ccc;
	background:#333;
	padding:5px;
	display:none;
	color:#fff;
    width: 200px;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.loading-modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: url('http://i.stack.imgur.com/FhHRx.gif')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .loading-modal {
    display: block;
}
